<form action="/register" method="POST" style="max-width: 1000px; margin: auto;">
  <div class="mb-3">
    {{!-- <label for="exampleInputUsername" class="form-label">Username</label>
    <input name="username" type="text" class="form-control" id="exampleInputUsername">
    <label for="exampleInputPassword" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword"> --}}
    <label for="exampleInputSpotify" class="form-label">Spotify Account Username</label>
    <input name="spotifyUsername" type="text" class="form-control" id="exampleInputSpotify">
  </div>
  <div style="text-align: center;">
    <button type="submit" class="btn btn-primary" style="width: 100%;">Register</button>
    <br>
            <p style="margin-top: 20px; margin-bottom: 20px;">or</p>
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>
  
  
</form>