<form action="/settings" method="POST" >
    <label for="option1">Option 1:</label>
    <input type="checkbox" id="option1" name="option1" value="option1"> </br>
    <label for="option2">Option 2:</label>
    <input type="checkbox" id="option2" name="option2" value="option2"> </br>
    <label for="option1">Option 3:</label>
    <input type="checkbox" id="option3" name="option3" value="option3"> </br>
    <label for="option1">Option 4:</label>
    <input type="checkbox" id="option4" name="option4" value="option4"> </br>

    <button type="submit">Save</button>
</form>