<form action="/settings" method="POST">
    <label for="option2">Merge Many Playlists:</label>
    <input type="checkbox" id="option2" name="option2" value="option2"> </br>
    <label for="option3">Display Your Data:</label>
    <input type="checkbox" id="option3" name="option3" value="option3" checked> </br>
    <button type="submit">Save</button>
</form>